body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;

    
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

.navbar-toggler {
    font-size: 1.5em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;
}

.navbar-menu {
    display: flex;
}

.navbar-item {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.navbar-item:hover {
    color: #ddd;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-item {
        margin: 10px 0;
        text-align: center;
    }
}
